<form class="form">
  <p class="title">Register </p>
  <p class="message"><strong>Signup now and get full access to our app. </strong></p>
      <div class="flex">
      <label>
          <input required="" placeholder="Firstname" type="text" class="input">

      </label>

      <label>
          <input required="" placeholder="Lastname" type="text" class="input">

      </label>
  </div>

  <label>
      <input required="" placeholder="Email" type="email" class="input">

  </label>

  <label>
      <input required="" placeholder="Password" type="password" class="input">

  </label>
  <label>
      <input required="" placeholder="Confirm Password" type="password" class="input">

  </label>
  <button class="submit">Submit</button>
  <h5 class="signin">Already have an acount ? <a routerLink="/sign-in"> Sign-In</a> </h5>
</form>
