body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;

}

.container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 1%;
  border: 5%;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.doctors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.doctor {
  width: 300px;
  margin: 20px;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

.doctor img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.doctor-info {
  text-align: center;
}

.doctor-info h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.doctor-info p {
  margin: 5px 0;
}

.doctor-info a {
  color: #007bff;
  text-decoration: none;
}
