<div class="container">
  <h1>Our Psychologists</h1>
  <div class="doctors">
      <div class="doctor">
          <img src="assets/images/doc1.png" alt="Dr. Ahmed Ben Salah">
          <div class="doctor-info">
              <h2>Dr. Ahmed Ben Salah</h2>
              <p>psychologist
              </p>
              <p>+216 20 123 456</p>
              <div class="rating">★★★★★</div>
              <p><a href="mailto:Dr.ahmed&#64;gmail.com">Dr.ahmed&#64;gmail.com</a></p>
              <button class="btn" routerLink="/messages">Contact Me</button>

          </div>
      </div>
      <div class="doctor">
          <img src="assets/images/doc2.png" alt="Dr. Fatma Boukadida">
          <div class="doctor-info">
              <h2>Dr. Fatma Boukadida</h2>
              <p>psychologist
              </p>
              <p>+216 50 987 654</p>
              <div class="rating">★★★★☆</div>
              <p><a href="mailto:Dr.fatma&#64;gmail.com">Dr.fatma&#64;gmail.com</a></p>
              <button class="btn">Contact Me</button>

          </div>
      </div>
      <div class="doctor">
          <img src="assets/images/doc3.png" alt="Dr. Mohamed Trabelsi">
          <div class="doctor-info">
              <h2>Dr. Mohamed Trabelsi</h2>
              <p>psychologist
              </p>
              <p>+216 98 765 432</p>
              <div class="rating">★★★☆☆</div>
              <p><a href="mailto:Dr.mohamed&#64;gmail.com">Dr.mohamed&#64;gmail.com</a></p>
              <button class="btn">Contact Me</button>

          </div>
      </div>
      <div class="doctor">
          <img src="assets/images/doc4.png" alt="Dr. Amira Chaabane">
          <div class="doctor-info">
              <h2>Dr. Amira Chaabane</h2>
              <p>psychologist
              </p>
              <p>+216 22 345 678</p>
              <div class="rating">★★★★☆</div>
              <p><a href="mailto:Dr.amira&#64;gmail.com">Dr.amira&#64;gmail.com</a></p>
              <button class="btn">Contact Me</button>

          </div>
      </div>
      <div class="doctor">
          <img src="assets/images/doc5.png" alt="Dr. Sami Hammami">
          <div class="doctor-info">
              <h2>Dr. Sami Hammami</h2>
              <p>psychologist
              </p>
              <p>+216 55 123 789</p>
              <div class="rating">★★☆☆☆</div>
              <p><a href="mailto:Dr.sami&#64;gmail.com">Dr.sami&#64;gmail.com</a></p>
              <button class="btn">Contact Me</button>

          </div>
      </div>
      <div class="doctor">
          <img src="assets/images/doc6.png" alt="Dr. Leila Abid">
          <div class="doctor-info">
              <h2>Dr. Leila Abid</h2>
              <p>psychologist
              </p>
              <p>+216 29 456 123</p>
              <div class="rating">★★★★★</div>
              <p><a href="mailto:Dr.leila&#64;gmail.com">Dr.leila&#64;gmail.com</a></p>
              <button class="btn">Contact Me</button>

          </div>
      </div>
  </div>
</div>
